*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.idea/caches
/.idea/modules.xml
.externalNativeBuild
.cxx
local.properties
/.idea/navEditor.xml